<%= render "shared/header" %>
  <!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->
  <title>motivate diary</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
    <div id="header" class="container">
      <h1><a href="">motivate diary</a></h1>
      <ul class="menu">
        <li><a href="">menu</a></li>
        <li><a href="">menu</a></li>
        <li><a href="">menu</a></li>
      </ul>
    </div><!-- /header -->
    <div id="main" class="container">
      <div id="posts">




        
        <div class="post">
        <% @diaries.each do |diary| %>
              <li class='list'>
              <%= link_to diary_path(diary.id) do %>
          <div class="post-header">
          
            <h2>
              <a href="">
               <%= diary.calendar_date%>
              </a>
            </h2>
            <div class="post-meta">
             
            </div>
          </div>
          <div class="post-content">
            <div class="post-image">
              <%= image_tag diary.image.variant(resize: '100*100'), class: "diary-img" if diary.image.attached? %>
            </div>
            <div class="post-body">
            
                <div class='diary-info'>
                  <h4 class='diary-date'>
                    
                    [ 体調 ]
                    <% if diary.condition_id == 1 %>
                      <%= "絶好調" %>
                    <% elsif diary.condition_id == 2 %>
                      <%= "まあまあ" %>
                    <% else diary.condition_id == 3 %>
                      <%= "あまり良くなかった" %>
                    <% end %><br>
                    
                    [ モチベーション ]
                    <% if diary.motivation_id == 1 %>
                      <%= "やる気に満ち溢れている" %>
                    <% elsif diary.motivation_id == 2 %>
                      <%= "いつも通り" %>
                    <% else diary.motivation_id == 3 %>
                      <%= "モチベーション低め" %>
                    <% end %><br>
                    [ ボリューム ]                    
                    <% if diary.work_volume_id == 1 %>
                      <%= "かなりキツめ" %>
                    <% elsif diary.work_volume_id == 2 %>
                      <%= "通常通り" %>
                    <% else diary.work_volume_id == 3 %>
                      <%= "やや軽め" %>
                    <% end %><br>

                </div>
              </li>
               <% end %>
             <% end %>
            </div>
          </div>
           
          <div class="contents row">
            <%# <%= diary_lists(@diaries)%>
          </div>



      </div>
    <div class=""navigation">
        <div class="prev">prev</div>
        <div class="prev">next</div>
    </div>
    </div><!-- /posts -->
    
    <!-- /sidebar -->
    <div id="sidebar">
        <div class="widget">
          <h3>カテゴリー</h3>
          <ul>
              <li><a href="">item</a></li>
              <li><a href="">item</a></li>
              <li><a href="">item</a></li>
          </ul>
        </div>
    </div><!-- /sidebar -->
    
    </div><!-- /main -->
    <div class='nav'>
        <%= link_to( new_diary_path, class: 'diary-btn') do %>
          <span class='diary-btn-text'>投稿する</span>
          <%=image_tag 'ペン先.png' , size: '50x50' ,class: "diary-btn-icon" %>
        <% end %>
    </div>
    <div id="footer" class="container">
    footer
    </div><!-- /footer -->

<%= render "shared/footer" %>