<header class='top-page-header'>
    <div class='search-bar-contents'>
      <%= link_to image_tag("motivate_diary_logo.png",size: '600x200', class:"motivate-diary-icon"), "/" %><br/>
    </div>
      <div class='nav'>
        <ul class='lists'>
        <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, class: "user-nickname" %></li>
        <li><%= link_to "はい", destroy_user_session_path, method: :delete, class: "log out" %>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "ログイン" %>
          <li><%= link_to '新規登録', new_user_registration_path, class: "新規登録" %>
        <% end %>
        </ul>
      </div>
</header>